body{
background-image: url("background1.jpg");
}
#hed{
    width: 100%;
    box-shadow: 18px 2px 68px red;
}
#in{
    float: right;
    font-size: 20px;
    border-color: white;
}
#ai{
    float: left;
}
.modal-dialog{
    width: 90%;
    }